* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 350px;
    min-height: 180px;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 23px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.card h2 {
    margin-bottom: 8px;
    font-size: 20px;
}

.card h3 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}
